# Dependencies
node_modules
.pnp
.pnp.js
.agent
# Testing
coverage

# Next.js
.next/
out/
build
dist/

# Expo
.expo/
.expo-shared/
web-build/
android/
ios/

# Misc
apps/apps/
.DS_Store
*.pem
.env*.local
.turbo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
